.button {
    background-color: rgb(1, 1, 211);
    color: white;
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border: none;
    border-radius: 5px;
}

.button:hover {
    opacity: .8;
}

.button--warning {
    background-color: rgb(255, 162, 0);
    color: white;
}

.button--danger {
    background-color: red;
    color: white;
}

.button--sucess {
    color: white;
    background-color: rgb(7, 125, 7);
}

.button--big {
    width: 100%;
    background-color: blueviolet;
    color: white;
}